.item {
  flex: auto;
  text-align: center;
  color: white;
}

.label {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.percentage {
  display: block;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
